<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cafe Klatch</title>

<link href='{{url_for('static', filename = "styles/templatemo_style.css")}}' rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script language="javascript" type="text/javascript">

function unblock(blocker,blocked)
{
	
	  var r=confirm("Do want to unblock " + blocked + " ?");
	if (r==true)
		{
		
		  $.ajax({           
           url: 'sample',
           data: { 
			'blocker': blocker, 
			'blocked': blocked
			},
           success:function(html) {
           //  alert('test me now ' + html);
			 window.location.reload(true);
           }

		  });
		}
		
}
</script>
</head>


<form name="matches" action=			 method="post" >
<body>
{% include "top_section.html" %}


        <div id="templatemo_middle_section">
    	<div class="templatemo_container">
			<div class="templatemo_content_area">
                
				
				  	
			
					{% for user in res_user  %}

						{%   if loop.index == 4  %}
							<div class="cleaner"></div>
							</div>
								</div><!-- End Of Container  -->
									</div><!-- End Of Mid Section -->
							
							<div id="templatemo_middle_section_2" style="height:350px">
								<div class="templatemo_container">
									<div id="templatemo_middle_content">
										
						{% endif %}

						<div class="templatemo_three_col">
											
						<div style=\"height:8px;font-size:1px;\">&nbsp;</div>
						<center>
						<img id="{{user.userid}}" src="{{url_for('static', filename = "uploads/")}}{{user.imagename}}"  title="Alone25" alt="Template" height="90px" onclick="javascript:unblock('{{session['userid']}}','{{user.userid}}');" />
						</center>
					
						<div style="color:white; text-align:center; font-size: 20px; font-family: 'Times New Roman';">
							{{user.userid}}
						</div> 
					
						</div>	
					{% endfor %}
				 
					
					{% if res_user|length == 0 %}
					<div class="templatemo_title">
											<h1>No Blocked users</h1>
					</div>
					{% endif %}


			<div class="cleaner"></div>
			</div>
		</div><!-- End Of Container  -->
	</div><!-- End Of Mid Section -->
									
              
									
				 
	</body>
	</form>
	</html>			