<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cafe_Klatch</title>
  <link rel="stylesheet" type = text/css href= '{{url_for('static', filename = "css/style.css")}}'> 
</head>
<style type="text/css">

</style>

<form name="message" action="{{ url_for('login') }}" method="post">
<body>
		
		<div id="Heading">Cafe-Klatch	
			<div id="SubHeading">Meeting over a coffee ...!!
				<div id="LoginInfo">	
					<table cellpadding="6">
					    {{ form.hidden_tag() }}
						
						<tr>
							<td align="right">
							    {{ form.username.label }}</td>
							  <td>{{ form.username }}
							  <br/><label style="color:black ; font-size:16px">
									{% for message in form.username.errors %}
										  {{ message }}
									{% endfor %}
 									</label>
							</td>
						</tr>			
						<tr>
							<td align="right">
								{{ form.password.label }}
								<td> {{ form.password }}
									<br/><label style="color:black ; font-size:16px">
									{% for message in form.password.errors %}
										  {{ message }}
									{% endfor %}
 									</label>
								</td>
     
							</td>
						</tr>
						<tr>
						<td align="center" colspan="2" style="font-size:18px">
							 {{ form.submit }}
							
						</td>
						</tr>
						<tr><td align="center" colspan="2">
						<div id="margin">
							<a href="{{ url_for('signup') }}">Sign Up</a> 
						</div>
						</td></tr>
					</table>		
				</div>
					
			
			</div>
		</div>
					
		
</body>
</form>
</html>