<html>
<head>
  	<meta charset="UTF-8">
  	<title>Cafe_Klatch</title>
  	<link href='{{url_for('static', filename = "slider/style.css")}}' rel="stylesheet" type="text/css" />
	<link href='{{url_for('static', filename = "styles/templatemo_style.css")}}' rel="stylesheet" type="text/css" />
	{% include "include_chat.html" %}	
	{% include "layout.html" %}	
	<script type="text/javascript" src='{{url_for('static', filename = "slider/szcript.js")}}'></script>


</head>

<form name="matches" action="{{ url_for('matches') }}" method="post" >

<body>
	
	{% include "top_section.html" %}

	<div id="templatemo_middle_section" style="height:360px">
		<div class="templatemo_container">
			<div class="templatemo_content_area">
			
			{% for ID in form.rsorted_matches %}
				
				{%   if loop.index == 4  %}
					<div class="cleaner"></div>
					</div>
						</div><!-- End Of Container  -->
							</div><!-- End Of Mid Section -->
					
					<div id="templatemo_middle_section_2" style="height:350px">
						<div class="templatemo_container">
							<div id="templatemo_middle_content">
								
				{% endif %}

				 <div class="templatemo_three_col  
				  	{%   if loop.index%3 == 1  %} left_col {% endif %}
					{%   if loop.index%3 == 2  %} middle_col {% endif %}
					{%   if loop.index%3 == 0  %} right_col {% endif %}		
					">
					<div class="templatemo_title" style=" background:url('{{url_for('static', filename = "images/")}}{{ID[0].status}}.png') no-repeat right center;">
						<h1>{{ID[1]}}% Match</h1>
					</div>
										
					<div id="szlider">
						<div id="szliderbar" name="szliderbar">
						</div>
						<div id="szazalek">
						</div>
					</div>
					<div style=\"height:8px;font-size:1px;\">&nbsp;</div>
					<center>
					<img  onload="drawszlider(100,{{ID[1]}},{{loop.index0}})" src="{{url_for('static', filename = "uploads/")}}{{ID[0].imagename}}" height="210px" alt="Template" onclick="chatWith('{{ID[0].userid}}')"/>
					</center>
									
					<div style="color:white; text-align:center; font-size: 20px; font-family: 'Times New Roman';">
						{{ID[0].userid}}
					</div> 
				</div>						

				
			{% endfor %}<br/>

			<div class="cleaner"></div>
			</div>
		</div><!-- End Of Container  -->
	</div><!-- End Of Mid Section -->
									
              

	<div id="templatemo_footer">
      	Copyright © 2014 <a href="#">Nikhil Sri-Harsha Jasmeet</a>      
    </div>
	
</body>
</form>